obj
 mount
  www
  org
 end
 server-merlin
  www
  org
  server
 end
 ssh-merlin
  www
  org
 end
 unmount
  www
  shell
 end
 user-create
  www
  org
 end
 user-init
  www
  org
 end
 user-install
  www
  org
 end
 user-list
  www
  org
 end
 user-remove
  www
  org
 end
 org
  shell
  compiler
 end
 server
  shell
 end
end
