obj
 test
  www
  org
 end
 test-all
  www
  shell
  compiler
 end
 test-certbot
  shell
  www
 end
 test-check
  shell
  www
 end
 test-common
  shell
  www
 end
 test-compile
  shell
  www
  compiler
 end
 test-count
  www
  shell
 end
 test-cson
  www
  shell
  compiler
 end
 test-dump
  www
  shell
 end
 test-entities
  www
  shell
 end
 test-execute
  www
  shell
 end
 test-file-write
  www
  shell
 end
 test-for
  www
  shell
 end
 test-generator
  www
  shell
 end
 test-html
  www
  shell
 end
 test-include
  www
  shell
  compiler
 end
 test-inline
  www
  shell
 end
 test-install
  www
  shell
 end
 test-js-encode
  www
  shell
 end
 test-let
  www
  shell
 end
 test-mail
  www
  shell
 end
 test-mail-report
  www
  shell
 end
 test-os-capture
  www
  shell
 end
 test-os-execute
  www
  shell
 end
 test-os-shell
  www
  shell
 end
 test-parallel
  www
  shell
 end
 test-parse
  www
  shell
 end
 test-random-str
  www
  shell
 end
 test-read
  www
  shell
 end
 test-relative
  www
  shell
 end
 test-reverse
  www
  shell
 end
 test-site
  www
  shell
  compiler
 end
 test-sleep
  www
  shell
 end
 test-snake
  www
  shell
 end
 test-spawn
  www
  shell
 end
 test-stderr
  www
  shell
 end
 test-stop
  www
  shell
 end
 test-syntax
  www
  shell
 end
 test-system
  www
  shell
 end
 test-timer
  www
  shell
 end
 test-tmp
  www
  shell
 end
 test-trace
  www
  shell
 end
 test-translate
  www
  shell
 end
 test-unaccent
  www
  shell
 end
 test-wait
  www
  shell
 end
end
