obj
 backup
  www
  shell
 end
 beautify
  www
  shell
 end
 beep
  www
  shell
 end
 detach
  www
  shell
 end
 find
  www
  shell
 end
 group-list
  www
  shell
 end
 kill
  www
  shell
 end
 merge-file
  www
  shell
 end
 metric
  www
  shell
  compiler
 end
 nop
  www
  shell
 end
 open-port
  www
  shell
 end
 password
  www
  shell
 end
 ps
  www
  shell
 end
 review
  www
  shell
 end
 salt
  www
  shell
 end
 system
  www
  shell
 end
end
